@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root { height: 100%; }
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(180deg,#f3f8f3 0%, #fff7ed 100%);
  color: #173a2f;
}
a { color: inherit; }
